{{ $banner := .Site.Params.banner }}
<section class="banner">
    <div class="container-fluid">
        <div class="row banner py-4">
            <div class="container">
                <div class="row egitim-row" data-aos="fade-left">
                    <div class="col-lg-8 col-12 align-items-center d-flex justify-content-start text-center text-lg-left">
                        <span>{{ $banner.text }}</span>
                    </div>
                    <div class="col-lg-4 col-12 d-flex justify-content-lg-end justify-content-center">
                        <a href="{{ $banner.button_link }}" class="btn btn-primary btn-color">{{ $banner.button_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
