<div class="container my-4" style="z-index: 0;">
    <div class="row d-md-flex d-none" data-aos="fade-up">
        <div class="col-md-4 my-4">
            <img src="/images/bottom-logo-1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 my-4">
            <img src="/images/bottom-logo-2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 my-4">
            <img src="/images/bottom-logo-3.png" alt="" class="img-fluid">
        </div>
    </div>
</div>