<footer id="footer">
    <div class="container">
        <div class="footer-row row py-5">
            <div class="col-12 col-lg-6 d-lg-flex d-block">
                <div class="row">
                    {{ range .Site.Menus.footer }}
                    <div class="col-12 col-xl-6 text-center text-lg-left">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0">
                                <img src="{{ .Name }}" alt="AçıkLab" class="img-fluid"
                                style="max-width:180px">
                            </li>
                            {{ range .Children }}
                            <li class="list-group-item px-0"><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                            </li>
                        </ul>
                    </div>
                    {{ end }}
                    <div class="col-12 text-lg-left text-center mt-lg-0 mt-3">
                        {{ range $i, $v := .Site.Params.footer.socialmedia }}
                        <a href="{{ .link }}" target="_blank" {{if gt $i 0}}class="ml-3" {{end}}>
                            <i class="{{ .icon }} fa-lg"></i>
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                <div class="flex-column text-center text-lg-right">
                    
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97927.428666277!2d32.70577205820311!3d39.91382080000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3489d28be7f6d%3A0x9aeae3bc3097caf5!2sHavelsan!5e0!3m2!1str!2str!4v1644400564998!5m2!1str!2str"
                                    class="embed-responsive-item" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 footer-brands">
                <div class="footer-divider m-auto"></div>
                <br>
                <div class="float-left">
                    <img src="/images/footer-logo.png" height="40px" class="mr-3">
                    <img src="/images/pardus.png" height="50px" class="mr-3">
                    
                </div>
                <div class="float-right">
                    <img src="/images/tskgv logo.png" height="50px">
                </div>
            </div>
        </div>
</footer>
{{ partial "scripts.html" . }}
