{{ $hero := .Site.Params.hero }}
<section id="hero" class="pt-lg-5 pt-0 pb-5">
    <div id="hero-carousel" class="carousel container slide pb-5" data-ride="carousel">
        <div class="carousel-inner">
            {{ range $i,$v := $hero }}
            <div class="carousel-item{{ if eq $i 0}} active{{ end }}">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 text-center text-lg-left"
                        data-aos-anchor-placement="top-center" data-aos="fade-up" data-aos-delay="200">
                        <h1 class="big mb-3">{{ $v.title }}</h1>
                        <h5 class="mb-3">{{ safeHTML $v.subtitle }}</h5>
                        {{ if $v.logos }}
                        <div class="row mt-4 mb-5">
                            {{ range $v.logos }}
                            <div class="col-lg-3 col-12">
                                <img src="{{ printf "/images/%s" .image | relURL }}" class="img-fluid">
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if $v.buttons }}
                        <div>
                            {{ range $v.buttons }}
                            <a href="{{ .link | relURL }}" class="btn btn-primary btn-lg btn-color-low">{{ .text }}</a>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    {{ if $v.image }}
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <picture>
                            <source srcset="{{ printf "/images/%s.webp"  $v.image | relURL }}" type="image/webp">
                            <img src="{{ printf "/images/%s.png"  $v.image | relURL }}" class="img-fluid" alt="">
                        </picture>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        <ol class="carousel-indicators">
            {{ range $i,$v := $hero }}
            <li data-target="#hero-carousel" data-slide-to="{{ $i }}" {{ if eq $i 0}} class="active" {{ end }}></li>
            {{ end }}
        </ol>
    </div>
</section>