<section class="pricing py-5">
  <div class="container">
    <div class="row egitim-row">
      <div class="col-12 text-center mb-4">
        <h2>Destek Planlarımız</h2>
        <p style="color: #64748b">Açık kaynaklı ürünlerimiz için genel destek planımız aşağıdaki gibidir. <br>Ücret
          teklifi için iletişime geçebilirsiniz.</p>
      </div>
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Giriş</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="feather-check"></i></span>8 saat x 5 gün destek</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Portal ve çağrı merkezi ile iletişim</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>24 saat içerisinde müdahale</li>
              <li class="text-muted"><span class="fa-li"><i class="feather-x"></i></span>Yerinde müdahale</li>
              <li class="text-muted"><span class="fa-li"><i class="feather-x"></i></span>Lokal repo sunucu ortamı</li>
              <li class="text-muted"><span class="fa-li"><i class="feather-x"></i></span>Açık kaynak ürün desteği
              </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Bilgi al</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Standart</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="feather-check"></i></span><strong>24 saat x 5 gün destek</strong></li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Çağrı merkezi ve e-posta ile iletişim</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>12 saat içinde müdahale</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Yerinde müdahale</li>
              <li class="text-muted"><span class="fa-li"><i class="feather-x"></i></span>Lokal repo sunucu ortamı</li>
              <li class="text-muted"><span class="fa-li"><i class="feather-x"></i></span>Açık kaynak ürün desteği</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Bilgi al</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">İleri</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="feather-check"></i></span><strong>24 saat x 7 gün destek</strong>
              </li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Telefon ve ek kaynaklar ile iletişim</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>4 saat içerisinde müdahale</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Yerinde müdahale</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Lokal repo sunucu ortamı</li>
              <li><span class="fa-li"><i class="feather-check"></i></span>Açık kaynak ürün desteği</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Bilgi al</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">Destek Planı İletişim Formu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <style>
          .form-group>label {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
          }

          .form-control {
            border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
          }
        </style>
        <div id="uyari"></div>
        <form id="contact" action method="post">
          <div class="form-group">
            <label for="kurum-adi">Kurum Adı</label>
            <input name="kurum-adi" type="text" class="form-control" id="kurum-adi">
          </div>
          <div class="form-group">
            <label for="name">İletişim kurulacak kişinin adı ve soyadı</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">E-posta adresi</label>
            <input name="email" type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="adres">Kurum adresi</label>
            <input name="adres" type="text" class="form-control" id="adres">
          </div>
          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input name="telefon" type="text" class="form-control" id="telefon">
          </div>
          <div class="form-group">
            <label for="aciklama">Mesaj</label>
            <textarea class="form-control" id="aciklama" name="aciklama" rows="3"></textarea>
          </div>
          <button type="submit" id="contactButton" class="btn btn-primary btn-color-low">Gönder</button>
        </form>
      </div>
    </div>
  </div>
</div>