<script src="/scripts/popper.min.js"></script>
<script
  src="/scripts/aciklab.bundle.js"
></script><!--
<script
  src="/scripts/bootstrap.min.js"
></script>
<script
  src="/scripts/aos.js"
></script>
<script
  src="/scripts/venobox.min.js"
></script>-->
<script
  src="/scripts/aciklab.js"
></script>
{{ if eq .Params.title "Uyumluluk" }}
<link rel="stylesheet" href="/scripts/dataTables.bootstrap4.min.css">
<script src="/scripts/jquery.dataTables.min.js"></script>
<script src="/scripts/dataTables.bootstrap4.min.js"></script>
{{ end }}
