<div class="row banner py-3">
    <div class="container px-5">
        <div class="row">
            <div
                class="col-lg-8 col-12 align-items-center d-flex justify-content-start text-center text-lg-left">
                <span>Liman Merkezi Yönetim Sistemini şimdi ücretsiz deneyin</span>
            </div>
            <div class=" col-lg-4 col-12 d-flex justify-content-lg-end justify-content-center "> <a href="{{ ref . "iletisim.md" }}"
                    class="btn btn-primary">Deneme Sürümü</a>
            </div>
        </div>
    </div>
</div>