$theme-colors: (
  "primary": #113B6A,
  "secondary": #E4003A,
);
$form-group-margin-bottom: 1rem !important;
$input-bg: #f9f9f9;
$input-border-width: 0;
$input-color: #7b7b7b;
@import "bootstrap/bootstrap";
@import "aos";
@import "venobox";

body {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.nav-item {
  padding: $nav-link-padding-y $nav-link-padding-x;
}

.navbar-brand {
  :first-child {
    max-height: 2.5rem;
  }

  :last-child {
    max-height: 0.8rem;
  }
}

.dropdown-item {
  font-size: 16px;
}

.navbar button {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 16px;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  position: relative;
  width: fit-content;

  &:hover {
    color: #ffffff;

    &:not(.dropdown-toggle) {
      &::before {
        visibility: visible;
        width: 100%;
      }
    }
  }

  &.active {
    &::before {
      visibility: visible;
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #ffffff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
}

#header {
  background: #113B6A;
}

section#hero {
  position: relative;
  color: #ffffff;
}

.carousel-indicators {
  bottom: -50px;

  li {
    opacity: 1;
    background-color: map-get($theme-colors, "secondary");
  }

  .active {
    background-color: #ffffff;
  }
}

h1.big {
  font-size: 68px;
  font-weight: bold;
}

.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

section#about {
  font-family: "Inter", sans-serif;
}

section#nav {
  overflow-x: hidden;
}

.block {
  background: #f2f2f2;

  &.active {
    background: #54c597;
    color: #ffffff;
  }

  &:hover {
    background: #54c597;
    color: #ffffff;
    transition: 1s all !important;
  }

  &:first-of-type {
    border-bottom: 4px solid #fff;
  }

  @media (min-width: 992px) {
    &:first-of-type {
      border-bottom: none;
      border-right: 4px solid #fff;
      border-left: 4px solid #fff;
    }

    &:last-of-type {
      border-right: 4px solid #fff;
    }
  }
}

.nav-item {
  &:last-of-type {
    padding-right: 0px;
  }
}

.banner {
  background: #113B6A;
  color: #ffffff;
  font-size: 26px;
}

.btn-color {
  background: #E4003A;
  border-color: #E4003A;

  &:hover {
    background: #B8092E;
  }

  &:active,
  &:focus {
    background: #8B0B1F !important;
  }
}

.btn-color-low {
  background: #E4003A;
  border-color: #E4003A;

  &:hover {
    background: #B8092E;
  }

  &:active,
  &:focus {
    background: #8B0B1F !important;
  }
}

.section-title {
  color: #051b35;
}

h1,
h2 {
  font-weight: bold;
}

.thead-primary {
  background: #2568ef;
  color: #ffffff;
}

.table thead th {
  border-bottom: none;
  border: 1px solid #ffffff;
}

.table-bordered {
  border: none;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ffffff;
}

.table-active {
  background-color: $gray-100;
}

.info {
  &.reverse {
    background: #b4ac61;
  }

  background: #7461b4;

  p {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 0;
  }
}

#footer {
  background: #113B6A;
  color: #ffffff;

  .list-group-item {
    background: none;
    color: #fff;
    border: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.img-caption {
  background: #efefef;
  color: #051b35;
  font-size: 20px;

  i {
    font-size: 30px;
  }

  &:after {
    content: "";
  }
}

.gray {
  background: #efefef;
}

.hr {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #f5f5f5;
}

.ff-form label {
  display: none;
}

.ff-form .ff-item {
  padding-bottom: 0 !important;
}

.form-control {
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
}

.form-control::-webkit-input-placeholder {
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
}

.form-control::-moz-placeholder {
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
}

.form-control:-ms-input-placeholder {
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
}

.form-control:-moz-placeholder {
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
}

input.form-control + hr,
textarea.form-control + hr {
  margin-top: 3px;
  border-top: 1px solid #b9b9b9;
}

section#comparison {
  .fa-circle,
  .fa-check {
    color: #00b418;
  }

  .fa-times {
    color: red;
  }
}

.dropdown {
  transition: all 0.3s;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}

.egitim-box {
  background-color: #113B6A;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: #113B6A;
    color: #fff;
  }
}

.egitim-box-uzman {
  background-color: #113B6A;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: #113B6A;
    color: #fff;
  }
}

@media only screen and (max-width: 430px) {
  .fa-6x {
    font-size: 4em !important;
  }

  .egitim-box .feather-chevron-down,
  .egitim-box-uzman .feather-chevron-down {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .navbar-brand {
    margin-left: 16px;
  }

  #chart {
    padding: 0 15px !important;
  }

  .egitim-box .fa,
  .egitim-box-uzman .fa {
    &:first-of-type {
      display: none;
    }
  }

  .carousel-inner {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .breadcrumb {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .big-nav-item {
    padding-top: 15px !important;
    padding-bottom: 8px !important;
  }

  section#content {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .pagination {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media only screen and (min-width: 575px) and (max-width: 989px) {
  .nav-item {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 989px) {
  .footer-row {
    margin-left: -30px;
    margin-right: -45px;
  }
}

@media only screen and (min-width: 576px) {
  .egitim-row {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.collapsed .feather-chevron-down {
  transition: 0.3s all;
  transform: rotate(-90deg);
}

.tab-button {
  background-color: #54c597;
  padding: 10px;
  margin-right: 8px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s all;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background-color: #3aac7e;
    color: #fff;
  }
}

.p-0 > .active {
  background-color: #3aac7e;
}

.uyumlu {
  color: green;
}

.yariuyumlu {
  color: orange;
}

thead {
  background-color: #113B6A;
  color: #fff;
  border-radius: 0 5px 0 5px !important;
}

.paginate_button {
  margin-top: 10px;
  border-radius: 5px !important;
  background-color: #E4003A !important;
  color: #fff !important;
}

.paginate_button.disabled {
  color: #fff !important;
}

.page-item.active .page-link {
  background-color: #E4003A !important;
  border-color: #E4003A !important;
}

.page-link {
  color: #222;

  &:hover {
    color: #222;
  }
}

.card-header {
  border-radius: 0 !important;
  background-color: #113B6A;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
  border-radius: 0 !important;
}

.card {
  border-radius: 0 !important;
  border: 0;
  background: rgba(218,218,217, 0.3);
  border-bottom: 5px #dadad9 solid;
}

.urunler-picture img {
  filter: grayscale(100%);
  transition: 0.3s all;

  &:hover {
    filter: none;
  }
}

.nav-link {
  font-weight: 600;
}

.mouse-indicator a {
  padding-bottom: 25px;
}

.mouse-indicator a span {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.mouse-indicator a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 992px) {
  .mouse-indicator {
    display: none;
  }
}

@keyframes bottomanimation {
  0% {
    width: 0%;
    margin-left: 0;
  }
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
    width: 0%;
  }
}

.blog-row > .blog-post {
  border-right: 1px rgb(212, 212, 212) solid;
}

.blog-row > .blog-post:last-of-type {
  border-right: 0;
}

@media only screen and (min-width: 992px) {
  .bottom-navbar {
    flex-grow: 1;
    margin: 0 -1rem;
  }
  .bottom-nav {
    width: 100%;
    display: block;
  }
  .nav-item-2 {
    float: left;
  }
  .bottom-nav > li {
    &:last-child {
      margin-top: -4px;
      float: right !important;
      padding-right: 14px;
      margin-right: 14px;
      background: #E4003A;
      border-radius: 55px;
      transition: 0.3s all;
      a::before {
        content: none;
      }
      &:hover {
        background: #B8092E;
      }
    }
  }
  #navbar > ul > li:nth-child(2) > a::before {
    visibility: visible;
    width: 100%;
    animation-name: bottomanimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.little-nav {
  width: 100%;
  list-style-type: none;
  li {
    float: right;
    a {
      padding-left: 15px;
      font-size: 12px;
      color: #eee;
    }
  }
}

.comparison-table {
  width: 100%;
  font-size: 0.875rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.comparison-table table {
  min-width: 41rem;
  table-layout: fixed;
  text-align: center;
}

.comparison-table table tbody + tbody {
  border-top-width: 1px;
}

.comparison-table .table-bordered thead td {
  border-bottom-width: 1px;
}

.comparison-table .comparison-item {
  position: relative;
  padding: 0.875rem 0.75rem 1.125rem;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  text-align: center;
}

.comparison-table .comparison-item .comparison-item-thumb {
  display: block;
  width: 5rem;
  margin-right: auto;
  margin-bottom: 0.75rem;
  margin-left: auto;
}

.comparison-table .comparison-item .comparison-item-thumb > img {
  display: block;
  width: 100%;
}

.comparison-table .comparison-item .comparison-item-title {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  color: #222;
  font-weight: 600;
  text-decoration: none;
}

.comparison-table .comparison-item .comparison-item-title:hover {
  text-decoration: underline;
}

.comparison-table .comparison-item .btn {
  margin: 0;
}

.comparison-table .comparison-item .remove-item {
  display: block;
  position: absolute;
  top: -0.3125rem;
  right: -0.3125rem;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  background-color: #f44336;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.comparison-table .comparison-item .remove-item .feather {
  width: 0.875rem;
  height: 0.875rem;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #e7e7e7;
}
.bg-secondary {
  background-color: #f7f7f7 !important;
}

.modal-header, .modal-footer {
  border: none;
  background-color: rgb(249, 250, 251);
}

.modal-header, .modal-header .close {
  padding: 0.5rem 1rem;
}

.modal-header .close {
  margin: -0.5rem -1rem -1rem auto;
}

.modal-title {
  font-size: 16px;
  font-weight: 600;
}

section.pricing {
  background: #f8fafc;
  margin-bottom: 50px;
}

.pricing .card {
  border: none;
  border-radius: 1rem !important;
  background: #fff;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 2.2rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.form-control,
.btn {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.btn {
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(17, 59, 106, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  font-family: inherit;
  margin: 0;
  -webkit-appearance: button;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.btn:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: transparent;
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000) !important;
}

.btn-primary:hover {
  border-color: transparent;
}

.btn-primary:focus {
  --tw-ring-color: #0077ef;
}

.btn-color-low:focus {
  --tw-ring-color: #28a745 !important;
}

.btn-secondary:focus {
  --tw-ring-color: #6c757d;
}
.btn-success:focus {
  --tw-ring-color: #28a745;
}
.btn-danger:focus {
  --tw-ring-color: #dc3545;
}
.btn-warning:focus {
  --tw-ring-color: #ffc107;
}
.btn-info:focus {
  --tw-ring-color: #17a2b8;
}
.btn-light:focus {
  --tw-ring-color: #f8f9fa;
}
.btn-dark:focus {
  --tw-ring-color: #343a40;
}

.btn-tool {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-xs {
  padding: 0.125rem 0.25rem !important;
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
  border-radius: 0.15rem !important;
}

.list-group-item {
  padding: 7px 0;
  &:last-child {
    margin-bottom: 10px;
  }
}

.footer-divider {
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
  display: block;
}

.footer-brands {
  margin: 35px 0;
}

.font-weight-bold {
  font-weight: 700;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}